.banner-container {
    text-align: center;
    margin: 3em 0;
    color: var(--third-color-neutral);
}

.banner-container img {
    width: 70%;
}

.titulo_banner {
    font-family: var(--font-family-tittle);
    font-size: 19px;
    font-weight: 400;
    padding: 0 1em;
    margin: 1em 2em;
    line-height: 1.5em;
}

.texto_banner {
    font-family: var(--font-family-body);
    font-size: 14px;
    padding: 0em 2em;
    margin: 1em 2em;
    line-height: 1.5em;
}

.banner__starded {
    border: 0;
    line-height: 2.5;
    padding: 0 70px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 24px;
    background-color: var(--second-color-blue);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
