.conteudo-central-container-2 {
    text-align: center;
    margin: 3em 1.5em 0 1.5em;
    color: var(--third-color-neutral)
}

.conteudo-central-container-2 img {
    width: 70%;
}

.titulo_central_2 {
    font-size: 19px;
    font-weight: 700;
    padding: 0 0.5em;
    margin: 1em 2em 2em;
    line-height: 1.5em;
    font-family: var(--font-family-tittle);
    text-align: left;
}

.texto_central_2 {
    font-size: 14px;
    padding: 0em 0.5em;
    margin: 2em 2em 0;
    line-height: 1.5em;
    font-family: var(--font-family-body);
    text-align: left;
}

.link_central_2 {
    color: var(--second-color-cyan);
    font-family: var(--font-family-body);
    font-size: 14px;
    text-align: left;
    margin: 2em 0em 0;
}

@media screen and (min-width: 1440px) {

    .conteudo-central-container-2 {
        display: inline-block;
    }

    .conteudo--central--container-2 {
        display: inline-block;
        vertical-align: top;
    }
    
}
