header {
    color: var(--third-color-neutral);
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 2em;
    padding: 0.5em;
}

.container {
    display: flex;
    align-items: center;
}

.menu-text-container {
    padding: 0.5em;
    color: var(--third-color-neutral);
    font-size: 14px;
    font-family: var(--font-family-body);
}



